// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-container{
  height: 75vw;
  width: 75vw;
  margin: 0 auto;
}

nav{
  text-align: right;
  margin-right: 10%
}

#map{
  height: 80%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#map-container > * {
  display:block;
  margin: 0 auto;
  text-align: center;
}

#my_popup {
  height: 500px;
  width: 500px
}

#pano{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#panoWriter{
  height: 100%;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

#blurbInput {
  visibility: hidden;
}

#blurbSave {
  visibility: hidden;
}

#saveTour {
  visibility: hidden;
}

.blurbDiv {
  background: white;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
}

