// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
.GMap {
  height: 100vh;
  position: absolute;
  width: 100vw;
}
.GMap-canvas {
  top: 20px;
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.UpdatedText {
  color: red;
}


#map-container{
  height: 75vw;
  width: 75vw;
  margin: 0 auto;
}

nav{
  text-align: right;
  margin-right: 10%
}

#map{
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

#map-container > * {
  display:block;
  margin: 0 auto;
  text-align: center;
}

.popup {
  height: 500px;
  width: 500px;
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

.pano{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#panoWriter{
  height: 100%;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

#blurbInput {
  visibility: hidden;
}

#blurbSave {
  visibility: hidden;
}

#saveTour {
  visibility: hidden;
}

.blurbDiv {
  background: white;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
}

#jsdiv {
  height: 1px;
}

#testPano{
  height:100%;

}

.blurb{
  background: white;
  border: solid 1px black;
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
}

#sigh{
  height:100%;
}

body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/39/NYC_Top_of_the_Rock_Pano.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
