<h1>Map goes here</h1>
    <input id = "zipfinder">Enter ZIP here</input>
    <button id = "zipbutton">submit</button>
    <button id = "createTour">Create new Tour</button>
    <button id = "saveTour"> Save your tour</button>
    <div id="map"></div>
    <button id = "createBlurb">Add a blurb</button>
    <div id = 'pano'>
      <div id = "panoWriter">
        <input id = "blurbInput">Enter your blurb text</input>
        <button id = "blurbSave">Save your blurb</button>
      </div>
    </div>

    <script>
  var geocoder;
  var map;
  var panorama;
  var tour = []
  var start;
 function initMap() {
    geocoder = new google.maps.Geocoder();
    navigator.geolocation.getCurrentPosition(function(position){
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var mapOptions = {
        center: new google.maps.LatLng(pos.lat, pos.lang),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions)
      map.setCenter(pos)
    })};
  function findByZip(zip){
    geocoder.geocode( { 'address': zip}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }


  function createTour(coords){
    //testing code that places marker on map click
    // var marker = new google.maps.Marker({
    //   position: coords,
    //   map: map
    // })
  panorama = new google.maps.StreetViewPanorama(
    document.getElementById('pano'), {
        position: coords,
        pov: {
          heading: 34,
          pitch: 10
        }
      });
    $('#pano').on('mouseup', function(){
      console.log(panorama)
    })
    panorama.addListener('click', function(){
     console.log(panorama)
    })
    map.setStreetView(panorama);
  }

  function createBlurb(){
    $('#panoWriter').css('visibility', 'visible')
    $('#panoWriter').css('pointer-events', 'auto')
    $('#panoWriter').css('z-index', '2')
    var clickPoint;
    $('#panoWriter').on('click', function(e){
      console.log(e, panorama)
      clickPoint = e;
      $('#blurbInput').css('visibility', 'visible')
      $('#blurbSave').css('visibility', 'visible')
      $('#panoWriter').off('click')
    })

    $('#blurbSave').on('click', function(){
      saveBlurb(clickPoint)
    })

    $('#saveTour').on('click', function(){
      saveTour()
    })
  }

  function saveTour(){
    $.ajax({
      "url": '/tours',
      "method": 'post',
      "data": {tour: tour, start: start},
      success: function(){
        console.log(start)
      }
    })
  }

  function saveBlurb(click){
    var blurbText = $('#blurbInput').val()
    var position = xyToHeadingPitch(click)
    var blurb = {
      content: blurbText,
      position: position,
      panoID: panorama.pano

    }
    tour.push(blurb)
    $('#panoWriter').css('visibility', 'hidden')
    $('#panoWriter').css('pointer-events', 'none')
    $('#panoWriter').css('z-index', '-2')
    $('#panoWriter').off('click')
   }



  function xyToHeadingPitch(e){
    var x = e.offsetX;
    var y = e.offsetY;
    var width = parseInt($('#panoWriter').css('width'))
    var height = parseInt($('#panoWriter').css('height'))
    var headingChange = x - width/2;
    var heading = panorama.pov.heading + headingChange
    var pitchChange = y - height/2;
    var pitch = panorama.pov.pitch + pitchChange;
    return {heading: heading, pitch: pitch}
  }

  $('#createBlurb').on('click', function(){
    createBlurb()
  })


  $('#zipbutton').on('click', function(){
    var address = $('#zipfinder').val()
    findByZip(address)
  })
  $('#createTour').on('click', function(){
    map.addListener('click', function(e){
      var coords = {
      lat: e.latLng.lat(),
      lng: e.latLng.lng()
    }
      start = coords
      createTour(coords)
    })
  })



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>
