<h1>Google Tours</h1>
    <input id = "zipfinder">
    <button id = "zipbutton">Search By Zip</button>
    <button id = "createTour">Create new Tour</button>
    <div id="map"></div>
    <div id = "my_popup">
      <button id = "createBlurb">Add a blurb</button>
      <input id = "blurbInput"></input>
      <button id = "blurbSave">Save your blurb</button>
      <button id = "saveTour"> Save your tour</button>
      <div id = 'pano'>
        <div id = "panoWriter">

        </div>
      </div>
    </div>
<div id = "jsdiv" style = 'visibility: hidden'>
<%= javascript_tag do %>
  var toursJS = <%= @tours.to_json.html_safe %>;
<% end %>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDotGfDqVxf7emqBFgRm3n03u3hQjbxiBo&callback=initMap"
    async defer></script>
